@font-face {
    font-family: myFirstFont;
    src: url(Roboto/Roboto-Black.ttf)
    
  }

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;


}
.youtubes{
    width: 200px;
    height: auto;position:fixed;
    bottom: 0px;
    left: 65%;
}
.twitches{
    width: 200px;
    height: auto;position:fixed;
    bottom: 0px;
    left:45%;
}
.discords{
    width: 200px;
    height: auto;position:fixed;
    bottom: 0px;
    left: 25%;
    
}


body {

 background-color: rgb(58, 253, 255);


}
main {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;  
}
.nav-links {
    display: flex;
    margin: 30px;
       



}
header {
    display: flex;
    align-items: center;
    background: brown;
    border-bottom: solid 5px black;
}

.nav-link {
    padding: 0px 50px;
}
.p {
    line-height: 3;
}
.socials {
    
    width: 200px;
    height: auto;position:fixed;
    bottom: 210px;
    left:45%;
    text-align: center;
    font-family: myFirstFont;
    
}
.secret{
    width: 200px;
    height: auto;position:fixed;
    bottom: 10px;
    left:0%;
    
    font-family: myFirstFont;
    
    
    
}
.something{
    background-color: black;
}
.termsofbutton{
    
    width: 200px;
    height: auto;position:fixed;
    bottom: 10px;
    left:0%;
    
    font-family: myFirstFont;
}
.termsofbuttonhome{
    
    width: 200px;
    height: auto;position:fixed;
    bottom: 30px;
    left:0%;
    
    font-family: myFirstFont;
}