@font-face {
	font-family: myFirstFont;
	src: url(/Roboto/Roboto-Black.ttf);
}

.number {
	height: auto;
	position: fixed;
	bottom: 50%;
	left: 50%;

	font-family: myFirstFont;
	color: black;
	font-size: 50px;
}
.gohome {
	color: black;
	font-family: myFirstFont;
	cursor: pointer;
}

.centerthis {
	text-align: center;
	font-family: myFirstFont;
	font-size: 1vw;
	color: black;

	cursor: copy;
}

.container {
	height: 200px;
	position: relative;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
